
#accordion {
    background-color: black;
    padding: 7px;
    width: 265px; /* 251 + padding * 2 */
}

#accordion .panel {
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
}

#accordion .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#accordion .bg-head-btn {

    height: 71px;
    background: url(images/sprites.png) 0 0;
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
    border-radius: 0px;
}

#accordion .bg-head-btn.collapsed {
    height: 53px;
    background: url(images/sprites.png) 0 -18px;
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
    border-radius: 0px;
}

#accordion .panel-collapse {
    height: 216px;
    background:url(images/sprites.png) 0 -71px;
    background-color: rgba(0, 0, 0, 0.0);
}

.panel-body {
    cursor: move;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.0);
}

#accordion td, #accordion th {
    vertical-align:top;
}

#accordion table, .cart-ram-bis, .cart-ss-bis {
    border: 0px;
}

.cart-ram-bis, .cart-ss-bis {
	cursor: pointer;
}

.cart-ram-socket {
    border: 0px;
    width: 182px;
    height: 49px;
    background-color: rgba(0, 255, 0, 0.0);
}

.cart-ss-socket {
    border: 0px;
    width: 86px;
    height: 49px;
}

.cart-ram-socket-active {
    /* height: 71 + 21 */
    /* witdth: 251 + 31 */
    background:url(images/sprites.png) -282px -92px;
}

.cart-ss-socket-active {
    /* height: 71 + 21 + 52  */
    /* witdth: 251 + 31 + 3 */
    background:url(images/sprites.png) -285px -144px;
}

.cart-ram-socket-hover {
    background:url(images/sprites.png) -533px -92px;
}

.cart-ss-socket-hover {
    background:url(images/sprites.png) -536px -144px;
}

/* ************************************************************************** */

#detached-chip-bank {
    background-color: gray;
    padding: 7px;
    width: 265px;
}

#detached-chip-bank.chipbank-active {
    background-color: rgba(0, 200, 0, 0.4);
}

#detached-chip-bank.chipbank-hover {
    background-color: rgba(0, 200, 0, 0.75);
}
