
#accordion {
    background-color: black;
    padding: 7px;
    width: 265px; /* 251 + padding * 2 */

}

#accordion .panel {
    background-color: rgba(0, 0, 0, 0.0);

    /* border-style: solid; */
    /* border-color: #9500ff; */

    border-width: 0px;
}

#accordion .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#accordion .btn {

    height: 71px;
    background-image: url(images/gb_header_open.png);
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
    border-radius: 0px;

}

#accordion .btn.collapsed {
    /* background-color: green; */
    height: 53px;
    background-image:url(images/gb_header_collapsed.png);
    background-color: rgba(0, 0, 0, 0.0);
}

#accordion .panel-collapse {
    height: 216px;
    background-image:url(images/gb_body.png);
    background-color: rgba(255,0,255, 0.0);
}

.panel-body {
    padding: 0px;
    background-color: rgba(0,255,0, 0.00);
}


.cart-ram {
    float: left;
    width: 182px;
    height: 49px;
    margin-left: 31px;
    margin-top: 21px;
    background-image:url(images/gb_ram.png);
    background-color: rgba(255,0,255, 0.0);
}

.cart-ss {
    background-image:url(images/gb_ss.png);
    background-color: rgba(255,0,255, 0.0);
    width: 86px;
    height: 49px;
}
.cart-ss1 {
    float: left;
    margin-left: 34px;
    margin-top: 3px; /* 73 - 21 - 49 */
}
.cart-ss2 {
    float: right;
    margin-right: 41px;
    margin-top: 3px; /* 73 - 21 - 49 */
}
.cart-ss3 {
    float: left;
    margin-left: 34px;
    margin-top: 3px; /* 125 - 21 - 49 - 3 - 49 */
}
.cart-ss4 {
    float: right;
    margin-right: 41px;
    margin-top: 3px; /* 73 - 21 - 49 */
}
