
#accordion {
    background-color: black;
    padding: 7px;
    width: 265px; /* 251 + padding * 2 */
    /* -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none; */
}

#accordion .panel {
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
}

#accordion .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#accordion .bg-head-btn {

    height: 71px;
    background-image: url(images/gb_header_open.png);
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
    border-radius: 0px;
}

#accordion .btn.collapsed {
    /* background-color: green; */
    height: 53px;
    background-image:url(images/gb_header_collapsed.png);
    background-color: rgba(0, 0, 0, 0.0);
}

#accordion .panel-collapse {
    height: 216px;
    background-image:url(images/gb_body.png);
    background-color: rgba(255,0,255, 0.0);
}

.panel-body {
    padding: 0px;
    background-color: rgba(0,255,0, 0.00);
}

#accordion th {
    vertical-align: text-top;
}

#accordion table, .cart-ram-bis, .cart-ss-bis {
    border: 0px;
}

.tmp {
    transform:translateX(-9999px);
}
