
/* ************************************************************************** */
/* BODY ********************************************************************* */
/* ************************************************************************** */
body {
    background: url('images/seamless_rough_plastic_texture_nes_by_blueamnesiac-d4mxqci.png') repeat;
    color: white;
    padding-top: 51px;
}

[class*="col-"] {
    text-align: center;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.tooltip {
    pointer-events: none;
}

/* ************************************************************************** */
/* NAV ********************************************************************** */
/* ************************************************************************** */
#debButtonToggle {
    width: 100%;
    margin: 0px 0px;
}

#mainGameBoyState {
    white-space: nowrap;
    overflow: hidden;
}

/* ************************************************************************** */
/* PANELS GLOBAL ************************************************************ */
/* ************************************************************************** */
#container-main {
    padding: 0 1px;
}

#container-main > .closable {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 71, 171, 0.25);
    max-width: 1200px;
}

#row-option, #row-key-mapping {
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
}
#row-cartsystem, #row-debugger {
    border: 1px solid black;
    border-width: 1px 0px 0px 0px;
}

@media only screen and (min-width: 1220px) {
    #container-main > .closable {
        border: 2px solid black;
        border-radius: 5px;
    }
}

#container-main > div {
    margin: 0;
    margin-top: 1px;
}

/* ************************************************************************** */
/* OPTIONS PANEL ************************************************************ */
/* ************************************************************************** */

/* SLIDERS ****************************************************************** */
/* MY CLASSES ********************************* */
#row-option > div {
    height: 50px;
    padding: 0px;
    padding-right: 30px;
}

@media only screen and (min-width: 768px) {

    #row-option > .ft-left {
        padding-right: 15px;
    }

}

.slider-cont {
    float: right;
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    height: 50px;
    width: calc(100% - 90px);
}

.slider-text {
    padding-top: 5px;
    text-align: right;
    float:left;
    width: 90px;
}

.slider-cont > .slider {
    width: 100%;
    background: #BABABA;
}

/* BOOSTRAP-SLIDER CLASSES ******************** */
.slider-tick-label {
    width: 50px !important;
    margin-left: -25px !important;
}

.slider-tick {
    opacity: 1;
}

/* ************************************************************************** */
/* KEY MAPPING ************************************************************** */
/* ************************************************************************** */
#mapping-button-container > button {
    width: 31%;
    height: 26px;
    padding: 0;
    margin-top: 5px;
}

#row-key-mapping table {
    table-layout: fixed;
}

#row-key-mapping caption {
    padding: 0;
}

#row-key-mapping h4 {
    color: GhostWhite;
    margin-top: 0;
    margin-bottom: 6px;
}
#row-key-mapping th {
    background-color: rgba(81, 144, 165, 1.0); /* strong blue */
    white-space: nowrap;
    overflow: hidden;
}
#row-key-mapping tr:nth-child(2n+1) > td {
    background-color: rgba(181, 190, 234, 1.0); /* light purple */
}

#row-key-mapping tr:nth-child(2n) > td {
    background-color: rgba(176, 237, 197, 1.0); /* light green */
}
#row-key-mapping td {
    color: #005B79;
}
#row-key-mapping td:first-child {
    font-size: 12px;
    color: #005B79;
    padding-top: 8px;
    font-weight: bold;
}

#row-key-mapping .btn-block {
    font-size: 11px;
    padding: 2px 5px;
    overflow: hidden;
}

#joypad-table thead th:first-child {
    width: 65px;
}

#ss-table thead th:first-child {
    width: 56%;
}

/* ************************************************************************** */
/* DEB PANEL **************************************************************** */
/* ************************************************************************** */

/* DEB - BODY *************************************************************** */
#row-debugger > div {
}

#row-debugger > div:last-child {
}

#row-debugger td {
    font-size: 12px;
    color: #005B79;
}

#row-debugger td .debTextHighlight {
    color: #FF1E00;
    background-color: red;
}

#row-debugger h4 {
    color: GhostWhite;
}

#row-debugger th
{
    background-color: rgba(81, 144, 165, 1.0); /* strong blue */
}

#debColRegisters tr:nth-child(2n+1) > td,
#debColInstructionFlow tr:nth-child(2n+1) > td,
#debColMemoryExplorer tr:nth-child(2n+1) > td
{
    background-color: rgba(181, 190, 234, 1.0); /* light purple */
}

#debColRegisters tr:nth-child(2n) > td,
#debColInstructionFlow tr:nth-child(2n) > td,
#debColMemoryExplorer tr:nth-child(2n) > td
{
    background-color: rgba(176, 237, 197, 1.0); /* light green */
}

/* DEB - BODY - TIMINGS ***************************************************** */
.debColClockSpan span {
    margin-top: 3px;
    float: right;
    min-width: 100px;
    display: inline-block;
    height: 16px;
}

.debColClockSpan {
    white-space: nowrap;
    display: inline-block;
}

@media only screen and (max-width: 450px) {

    .debColClockSpan {
        margin: 0 auto;
        display: block;
        width: 215px !important;
        text-align: left;
    }
    .debColClockSpan span {
        float: right;
    }

}

/* DEB - BODY - BUTTONS ***************************************************** */
#debColClock, #debColButtons {
    margin-top: 5px;
}

.debStatusButton {
    margin: 2px 2px;
    width: 85px;
    padding: 5px 6px;
}

@media only screen and (min-width: 610px) {

    #debColButtons > div {
        display: inline-block;
    }

}

/* DEB - BODY - REGISTER **************************************************** */
#debColRegisters caption {
    padding-top: 0px;
    padding-bottom: 0px;
}

#debColRegisters span.label {
    padding: 3px 5px;
    margin: 0px;
    font-size: 9px;
}

#debColRegisters table {
    margin-bottom: 0px;
}

#debColRegisters > table > tbody > tr:first-child > td:first-child {
    padding: 5px 0px;
}

#debColRegisters > table > tbody > tr:first-child > td:first-child > div {
    display: inline-block;
}
@media only screen and (max-width: 992px) {

    #debColRegisters > table > tbody > tr:first-child > td:first-child > div {
        display: block;
    }

    #debColRegisters > table > tbody > tr:first-child > td:first-child > div:first-child {
        margin-bottom: 3px;
    }

}

/* DEB - BODY - INSTRUCTION FLOW ******************************************** */
#debColInstructionFlow caption {
    padding-top: 0px;
    padding-bottom: 0px;
}

#debColInstructionFlow table {
    margin-bottom: 0px;
}

/* DEB - BODY - MEMORY EXPLORER ********************************************* */
.debJumpMem {
    margin: 2px 0px;
    padding: 0px;
    font-size: 14px;
    width: calc((100% - 24px) / 12 * 2);
}

#memExpJumpPREV, #memExpJumpNEXT {
    width: calc((100% - 24px) / 12);
}
#memExpJumpPREV {
   margin-left: 0px;
}

#memExpJumpNEXT {
    margin-right: 0px;
}

#debColMemoryExplorer caption {
    padding-top: 0px;
}

#debColMemoryExplorer table {
    table-layout: fixed;
}

#debColMemoryExplorer thead th:first-child {
    width: 48px;
}

#debColMemoryExplorer td {
    font-size: 11px;
}

#debColMemoryExplorer th {
    font-size: 12px;
    white-space: nowrap;
}

/* DEB - BODY - MEMORY REGISTERS ******************************************** */
#debColMemRegisters h4 {
    text-align: left;
}
.debMemRegTd {
    white-space: nowrap;
}
.debMemRegLabelCgb {
    margin-left: 2px;
}

/* ************************************************************************** */
/* CANVAS ******************************************************************* */
/* ************************************************************************** */
#spamming-label-container {
    height: 24px;
}
#spamming-label-container > span {
    height: 24px;
    padding: 5px 12px;
    font-size: 14px;
}
.canvas {
    width: 500px;
    height: 500px;
    background-color: grey;
    margin: auto;
}

/* ************************************************************************** */
/* COMPONENT SYSTEM ********************************************************* */
/* ************************************************************************** */
#row-cartsystem {
    padding-bottom: 20px;
    text-align: center;
}

#row-cartsystem > .col {
    display: inline-block;
    vertical-align: top;
}

#row-cartsystem .button-group {
    text-align: left;
}

/* GAMEBOY CART SLOT ******************************************************** */
#gb-slot {
    background-color: rgba(155, 216, 235, 0.85);
    padding: 7px;
    width: calc(251px + 7px * 2); /* 251 + padding * 2 */
    min-height: calc(287px / 2); /* 287 / 2 */
}

#gb-slot.gameboysocket-active {
    background-color: rgba(0, 200, 0, 0.4);
}

#gb-slot.gameboysocket-hover {
    background-color: rgba(0, 200, 0, 0.75);
}

#label-gbsocket-empty {
    padding-top: 58px;
    text-align: center;
}

/* DETACHED CART BANK ******************************************************* */
#accordion {
    background-color: rgba(246, 206, 149, 0.85);
    padding: 7px;
    width: 265px; /* 251 + padding * 2 */
    min-height: 143px; /* 287 / 2 */
}

#accordion.accordion-active {
    background-color: rgba(0, 200, 0, 0.4);
}

#accordion.accordion-hover {
    background-color: rgba(0, 200, 0, 0.75);
}

#label-no-cart {
    padding-top: 48px;
    text-align: center;
}

/* DETACHED CHIP BANK ******************************************************* */
#detached-chip-bank {
    background-color: rgba(145, 207, 145, 0.85);
    padding: 7px;
    width: 200px;
    min-height: 143px; /* 287 / 2 */
}

#detached-chip-bank.chipbank-active {
    background-color: rgba(0, 200, 0, 0.4);
}

#detached-chip-bank.chipbank-hover {
    background-color: rgba(0, 200, 0, 0.75);
}

#label-no-chip {
    padding-top: 48px;
    text-align: center;
}

/* CARTRIDGE **************************************************************** */
.gameboy-cartridge {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
}

.gameboy-cartridge .btn:focus,
.gameboy-cartridge .btn:active:focus,
.gameboy-cartridge .btn.active:focus {
    outline: 0 none;
}

.gameboy-cartridge .bg-head-btn {
    height: 71px;
    background: url(images/sprites.png) -1004px 0;
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0px;
    border-radius: 0px;
    padding-top: 24px;
}

.gameboy-cartridge.over .bg-head-btn {
    background: url(images/sprites.png) 0 0;
}

.gameboy-cartridge .bg-head-btn.collapsed {
    height: 53px;
    background: url(images/sprites.png) -1004px -18px;
    padding-top: 6px;
}

.gameboy-cartridge.over .bg-head-btn.collapsed {
    background: url(images/sprites.png) 0 -18px;
}

.gameboy-cartridge .bg-head-btn > .text {
    color: black;
    overflow: hidden;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.gameboy-cartridge .panel-collapse {
    height: 216px;
    background:url(images/sprites.png) 0 -71px;
    background-color: rgba(0, 0, 0, 0.0);
}

.gameboy-cartridge .panel-body {
    cursor: move;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.0);
}

.gameboy-cartridge td,
.gameboy-cartridge th {
    vertical-align:top;
}

.gameboy-cartridge table, .cart-ram-bis, .cart-ss-bis {
    border: 0px;
}
/* CHIP ********************************************************************* */
.ft-chip {
    height: 49px;
    padding-left: 11px;
    padding-right: 14px;
    cursor: pointer;
}
.cart-ss-bis {
    padding-top: 14px;
    background: url(images/chip_sprites.png) -182px 0px;
    width: 86px;
}
.cart-ram-bis {
    padding-top: 13px;
    background: url(images/chip_sprites.png) 0px 0px;
    width: 182px;
}

.cart-ss-bis.over {
    background: url(images/chip_sprites.png) -182px -49px;
}
.cart-ram-bis.over {
    background: url(images/chip_sprites.png) 0px -49px;
}


.ft-chip > .text {
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
.cart-ss-bis > .text {
    font-size: 11px;
}
.cart-ram-bis > .text {
    font-size: 13px;
}




.ft-chip > .ft-dropdown-button {
    width: 11px;
    height: 18px;
    top: 13px;
}
.cart-ss-bis > .ft-dropdown-button {
    left: 71px;
}
.cart-ram-bis > .ft-dropdown-button {
    left: 166px;
}


.ft-chip > .ft-dropdown {
    top: calc(13px + 6px);
}
.cart-ram-bis > .ft-dropdown {
    left: calc(166px + 11px);
}
.cart-ss-bis > .ft-dropdown {
    left: calc(71px + 11px);
}

.gameboy-cartridge > .ft-dropdown-button {
    width: 12px;
    height: 21px;
    top: 34px;
    left: 231px;
}

.gameboy-cartridge.ui-draggable-disabled > .ft-dropdown-button {
    top: calc(34px - 18px);
}


.gameboy-cartridge > .ft-dropdown {
    top: calc(34px + 8px);
    left: calc(231px + 11px);
}

.gameboy-cartridge.ui-draggable-disabled > .ft-dropdown {
    top: calc(34px + 8px - 18px);
}

/* DROPDOWN ***************************************************************** */
.ft-dropdown {
    cursor: default;
    z-index: 100;
    position: absolute;
    text-align: left;
}

.ft-dropdown-button {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px;
}

.ft-dropdown > .list-group-item {
    display: block;
    position: relative;
    min-width: 200px;
    padding: 4px 0;
    padding-left: 9px;
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
}

.ft-dropdown > .ft-clickable {
    cursor: pointer;
    font-weight: bold;
}

.ft-dropdown > .ft-clickable:hover {
    background-color: #f5f5f5;
}

.ft-dropdown > .ft-title {
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    padding: 7px 5px;
    text-align: center;
}

/* CHIP SOCKET ************************************************************** */
/* RAM **************************************** */
.cart-ram-socket {
    border: 0px;
    width: 182px;
    height: 49px;
    background-color: rgba(0, 255, 0, 0.0);
}

.cart-ram-socket-active {
    /* height: 71 + 21 */
    /* witdth: 251 + 31 */
    background:url(images/sprites.png) -282px -92px;
}

.cart-ram-socket-hover {
    background:url(images/sprites.png) -533px -92px;
}

.cart-ram-socket-invalid {
    background:url(images/sprites.png) -784px -92px;
}

/* SS ***************************************** */
.cart-ss-socket {
    border: 0px;
    width: 86px;
    height: 49px;
}

.cart-ss-socket-active {
    /* height: 71 + 21 + 52  */
    /* witdth: 251 + 31 + 3 */
    background:url(images/sprites.png) -285px -144px;
}

.cart-ss-socket-hover {
    background:url(images/sprites.png) -536px -144px;
}

.cart-ss-socket-invalid {
    background:url(images/sprites.png) -787px -144px;
}

/* ************************************************************************** */
/* ALERTS ******************************************************************* */
/* ************************************************************************** */
#mainAlertBox {
    width: 500xp
}

.alert strong {
    margin-right: 5px;
}

.alert span {
    font-size: 12px;
}

/* ************************************************************************** */
/* FOOTER ******************************************************************* */
/* ************************************************************************** */
footer {
    border: 1px solid black;
    height: 20px;
    text-align: center;
    background-color: #101010;
}

footer a {
    color: #9d9d9d;
}
