
/* ************************************************************************** */
/* BODY ********************************************************************* */
/* ************************************************************************** */

body {
    padding: 5px;
    background: url('images/seamless_rough_plastic_texture_nes_by_blueamnesiac-d4mxqci.png') repeat;
    color: white;
    padding-top: 50px;
}

[class*="col-"] {
    /* border: 1px solid black; */
    /* border-radius: 6px; */
    text-align: center;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

/* ************************************************************************** */
/* NAV ********************************************************************** */
/* ************************************************************************** */

#debButtonToggle {
    width: 100%;
    margin: 0px 0px;
}

/* ************************************************************************** */
/* PANELS GLOBAL ************************************************************ */
/* ************************************************************************** */

#debContainer, #optContainer {
}

#debBody, #optBody {
    background-color: rgba(0, 71, 171, 0.2);
    border: 1px solid black;
    border-radius: 6px;
}

/* ************************************************************************** */
/* OPTIONS PANEL ************************************************************ */
/* ************************************************************************** */

/* SPEED SLIDER ************************************************************* */

#mainSpeedText {
    margin-left: 15px;
    text-align: right;
}

#mainSpeedSlider {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    background: #BABABA;
}

.slider-tick {
    opacity: 1;
}

/* ************************************************************************** */
/* DEB PANEL **************************************************************** */
/* ************************************************************************** */

/* DEB - BODY *************************************************************** */

#debBody > div {
}

#debBody > div:last-child {
}

#debBody td {
    font-size: 12px;
    color: #005B79;
}

#debBody td .debTextHighlight {
    color: #FF1E00;
    background-color: red;
}

#debBody h4 {
    color: GhostWhite;
}

#debBody th
{
    background-color: rgba(81, 144, 165, 1.0); /* strong blue */
}

#debColRegisters tr:nth-child(2n+1) > td,
#debColInstructionFlow tr:nth-child(2n+1) > td,
#debColMemoryExplorer tr:nth-child(2n+1) > td
{
    background-color: rgba(181, 190, 234, 1.0); /* light purple */
}

#debColRegisters tr:nth-child(2n) > td,
#debColInstructionFlow tr:nth-child(2n) > td,
#debColMemoryExplorer tr:nth-child(2n) > td
{
    background-color: rgba(176, 237, 197, 1.0); /* light green */
}

/* DEB - BODY - TIMINGS ***************************************************** */
#debColClock .label {
    display: inline-block;
    min-width: 95px;
}

.debColClockSpan {
    white-space: nowrap;
}

/* DEB - BODY - BUTTONS ***************************************************** */
#debColClock, #debColButtons {
    margin-top: 5px;
}

.debStatusButton {
    margin-right: 15px;
}

#debColButtons > p {
    display: inline-block;
    margin-right: 5px;
}

#debColButtons > form {
    display: inline-block;
}

/* DEB - BODY - REGISTER **************************************************** */
#debColRegisters caption {
    padding-top: 0px;
    padding-bottom: 0px;
}

#debColRegisters table {
    margin-bottom: 0px;
}

/* DEB - BODY - INSTRUCTION FLOW ******************************************** */
#debColInstructionFlow caption {
    padding-top: 0px;
    padding-bottom: 0px;
}

#debColInstructionFlow table {
    margin-bottom: 0px;
}

/* DEB - BODY - MEMORY EXPLORER ********************************************* */
#debColMemoryExplorer caption {
    padding-top: 0px;
}

#debColMemoryExplorer table {
    table-layout: fixed;
}

#debColMemoryExplorer thead th:first-child {
    width: 48px;
}

#debColMemoryExplorer td {
    font-size: 11px;
}

#debColMemoryExplorer th {
    font-size: 12px;
    white-space: nowrap;
}

/* DEB - BODY - MEMORY REGISTERS ******************************************** */
.debMemRegTd {
    white-space: nowrap;
}
.debMemRegLabelCgb {
    margin-left: 2px;
}

/* ************************************************************************** */
/* CANVAS ******************************************************************* */
/* ************************************************************************** */

.canvas {
    width: 500px;
    height: 500px;
    background-color: grey;
    margin: auto;
}


/* ************************************************************************** */
/* ALERTS ******************************************************************* */
/* ************************************************************************** */

#mainAlertBox {
    width: 500xp
}

.alert strong {
    margin-right: 5px;
}

.alert span {
    font-size: 12px;
}

/* ************************************************************************** */
/* FOOTER ******************************************************************* */
/* ************************************************************************** */

footer {
    border: 1px solid black;
    border-radius: 6px;
    height: 20px;
    text-align: center;
    background-color: rgba(0, 71, 171, 0.2);
}
