/* body {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}
*/

body {
    padding: 5px;
    background: url('images/seamless_rough_plastic_texture_nes_by_blueamnesiac-d4mxqci.png') repeat;
    color: white;
    /* padding-top: 50px; */
}

[class*="col-"] {
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.alert strong {
    /* font-size: 12px; */
    margin-right: 5px;
}

.alert span {
    font-size: 12px;
    /* margin-left: px; */
}

#mainSpeedText {
    text-align: right;
}

#mainSpeedSlider {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    background: #BABABA;
}

/* DEB ********************************************************************** */
#debContainer {
    background-color: rgba(0, 71, 171, 0.2);
    color: white;
    /*padding: 3px;*/
}

/* DEB - TOGGLE ************************************************************* */
#debButtonToggle {
    width: 100%;
    margin: 0px 0px;
    /* margin-top: 10px; */
    /* line-height: 0px; */
}

#debButtonToggle h3 {
    /* width: 100%; */
    margin: 10px 0px;
    /* line-height: 0px; */
}

/* DEB - BODY *************************************************************** */
#debBody {
    /*padding: 2px;*/
}

#debBody td {
    font-size: 12px;
    color: #005B79;
    /* color: rgba(0, 0, 0, 0); */
}

#debBody td .debTextHighlight {
    color: #FF1E00;
    background-color: red;
}

#debBody h4 {
    color: GhostWhite;
}

#debBody th
{
    /* background-color: rgba(173, 216, 230, 1.0); // light blue */
    background-color: rgba(81, 144, 165, 1.0); /* strong blue */
}
/* #debBody th */

#debColRegisters tr:nth-child(2n+1) > td,
#debColInstructionFlow tr:nth-child(2n+1) > td,
#debColMemoryExplorer tr:nth-child(2n+1) > td
{
    background-color: rgba(181, 190, 234, 1.0); /* light purple */
}

#debColRegisters tr:nth-child(2n) > td,
#debColInstructionFlow tr:nth-child(2n) > td,
#debColMemoryExplorer tr:nth-child(2n) > td
{
    background-color: rgba(176, 237, 197, 1.0); /* light green */
    /* background-color: rgba(89, 191, 124, 1.0); // strong green */
}

/* DEB - BODY - TIMINGS ***************************************************** */
#debColClock .label {
    display: inline-block;
    min-width: 95px;
}

.debColClockSpan {
    white-space: nowrap;
}

/* DEB - BODY - BUTTONS ***************************************************** */
.debStatusButton {
    margin-right: 20px;
}

/* DEB - BODY - REGISTER **************************************************** */
/* DEB - BODY - INSTRUCTION FLOW ******************************************** */
/* DEB - BODY - MEMORY EXPLORER ********************************************* */
#debColMemoryExplorer table {
    table-layout: fixed;
}

#debColMemoryExplorer td {
    font-size: 11px;
}

#debColMemoryExplorer th {
    font-size: 12px;
}

/* DEB - BODY - MEMORY REGISTERS ******************************************** */
.debMemRegTd {
    white-space: nowrap;
}
.debMemRegLabelCgb {
    margin-left: 2px;
}

/* FOOTER ******************************************************************* */
/* footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: #f5f5f5;
   }
 */
footer {
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(0, 71, 171, 0.2);
}
